# dependencies
/node_modules

# build output
/dist
/.output
/.tanstack
/.nitro
/.vinxi

# cloudflare / wrangler
/.wrangler
.dev.vars*
!.dev.vars.example

# misc
.DS_Store
*.pem
*.local
.env
!.env.example

# debug
npm-debug.log*
.pnpm-debug.log*

# typescript
*.tsbuildinfo

# yarn
/.yarn
